extends layouts/main.pug

block append header
    include partials/header.pug

block append main
    section
        h2.title API Moto'GP
        .grid
            p.text-center
                a(href='http://localhost:5001/pilots' role="button").btn Tous les pilotes

block append footer
    include partials/footer.pug
