extends layouts/main.pug

block append header
    include partials/header.pug

block append main
    section
        h2.title API Moto'GP
        .grid
            p.text-center
                a(href='http://localhost:5001/pilots' role="button").btn All Pilots
        .grid
            p.text-center
                a(href='http://localhost:5001/teams' role="button").btn All Teams
        .grid
            p.text-center
                a(href='http://localhost:5001/manufacturers' role="button").btn All Manufacturers
        .grid
            p.text-center
                a(href='http://localhost:5001/races' role="button").btn All Races
        .grid
            p.text-center
                a(href='http://localhost:5001/racetracks' role="button").btn All Racetracks

block append footer
    include partials/footer.pug
