extends layouts/main.pug

block append header
    include partials/header.pug

block append main
    section
        h2 API Moto'GP
        .grid
            p.text-center
                a(href='http://localhost:5000/pilots' role="button").outline Tous les pilotes

block append footer
    include partials/footer.pug
