extends layouts/main.pug

block append header
    include partials/header.pug

block append main
    section
        h2.title All pilots

        each pilot in pilots
            small.primary= pilot.firstname + ' ' + pilot.lastname + ' - ' + pilot.number
            br


block append footer
    include partials/footer.pug
